<h1>Realestates#index</h1>
<table class="table table-striped table-dark">
<tr>
    <th>ID</th>
    <th>TITLE</th>
    <th>DETAILS</th>
</tr>
<% @realestates.each do  |realestate|%>
    <tr>
        <td> <%= realestate.id %></td>
        <td> <%= realestate.title %></td>
        <td> <%= realestate.details %></td>
        <td> <%= link_to "show", realestate_path(realestate)%></td>
        <td> <%= link_to "edit", edit_realestate_path(realestate)%></td>
        <td> <%= link_to "deleteee", realestate_path(realestate), method: :DELETE %> </td>
    </tr>
<%end%>
</table>