<h1>Realestates#new</h1>
<%= form_for @realestate,url:{action:"create"} do |f| %>
<%= f.label :title%>
<%= f.text_field :title%>
<%= f.label :details%>
<%= f.text_field :details%>
<%= f.submit "Save" %>



<% end %>

