<%# <h1>Realestates#new</h1> %>

<div>
<%= form_for @realestate,url:{action:"create"} do |f| %>
<div>
<%= f.label :title%>
<%= f.text_field :title%>
</div>
<br>

<div class="form-group">
<%= f.label :details%>
<%= f.text_area :details , cols: "50", rows: "5"%>
</div>

<div>
<br>
<%= f.submit "Save" %>
</div>

</div>


<%end%>

