<!DOCTYPE html>
<html>
  <head>
    <title>AppRealestate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>


  <%= link_to "Home ", root_path%>
  <% if user_signed_in? %>
  <%= link_to "My Realestates", realestates_path	%>
  <%= link_to "Add New Realestate", new_realestate_path%>
    <%= link_to " Sign Out", destroy_user_session_path, method: :delete %>
  <%else%>
   <%= link_to " Login ", new_user_session_path%>
    <%= link_to " Signup ", new_user_registration_path%>
  <%end%>
   
  <nav>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
